.chartTypeSelect{
    background-color: transparent;
    border-radius: 5px;
    color: white;
    border-color: white;
    font-family: "fredoka";
    cursor: pointer;
    outline: none;
    padding: 2px 7px;
}
.chartTypeSelect option{
    cursor: pointer;
    background-color: #0E0F0E;
}
.chartTypeSelect:focus{
}

.loadingChart{
    display: flex;
    justify-content: center;
    font-family: "fredoka";
    color: white;
}

.chartSelectors{
    margin-top: 40px;
    color: green;
    font-family: "fredoka";
    display: flex;
    justify-content: space-around;
}

.chartSelectors div{
    display: flex;
}

.chartSelectors div p{
    margin-right: 10px;
}
.chartSelectors div select{

}

.containerChart{
    transform: translateY(100px);
    width: 60vw;
    height: 40vw;
    margin: 0 auto;
}