#page-feed {
  .card {
    .feed-banner-btn-container {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      button {
        margin-top: 1.9rem;
        color: black;
        width: 220px;
        height: 45px;
        font-size: 16px;
      }
    }
  }

}