#page-token-detail {
    margin-top: 2rem;
    padding-bottom: 3rem;
}

#page-token-detail .loading {
    margin: 0 auto;
}

#page-token-detail .spinner {
    margin: 5rem 0;
    width: 100px;
    height: 100px;
}

#page-token-detail .nft-container {
    display: flex;
}