.owned-image{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.owned-container{
    width: 100%;
}

.owned-details tr th {
    display: table-cell;
    position: sticky;
    top: 0px;
    text-align: center;
    border-bottom: 2px solid rgb(44, 44, 58);
    background-color: #222840;
    padding: 20px 0;
    z-index: 1;
    color: white;
} 

.owned-name{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 20px;
    padding: 35px 0;
}

.owned-image{
    width: 50px;
    aspect-ratio: 1;
    border-radius: 10px;
}

.owned-floor-price{
    display: flex;
    justify-content: center;
    align-items: center;
}
.owned-floor-price i{
    margin-right: 10px;
}

.owned-volume{
    display: flex;
    justify-content: center;
    align-items: center;
}
.owned-volume i{
    margin-right: 10px;
}

.owned-market-cap{
    display: flex;
    justify-content: center;
    align-items: center;
}
.owned-market-cap i{
    margin-right: 10px;
}

.owned-total-volume{
    display: flex;
    justify-content: center;
    align-items: center;
}
.owned-total-volume i{
    margin-right: 10px;
}

.owned-details tr th div{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.owned-details tr th div p{
    opacity: 0.5;
}
.owned-details tr th div i{
    margin-left: 10px;
}

.owned-details{
    position: relative;
}