.login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: inherit;
}
.login p {
    margin-right: 20px;
}

.header {
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: space-around;
    z-index: 99;
    border-bottom: 4px solid transparent;
    -o-border-image: linear-gradient(45deg, #3494E6, #EC6EAD);
    border-image: linear-gradient(45deg, #3494E6, #EC6EAD);
    border-image-slice: 1;
    background-color: black;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;

}

.wagmi-title {
    width: 200px;
    /* -webkit-animation: 1s in3; */
    /* animation: 1s in3; */
    font-size: 20px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  .header-title {
    color: white;
    font-size: 27px;
    font-family: inherit;
    margin-right: 140px;
    margin-left: 100px;
    letter-spacing: 3px;
    /* -webkit-animation: 1s in; */
            /* animation: 1s in; */
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

.connect-button {
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-family: inherit;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    /* -webkit-animation: 1s in4; */
            /* animation: 1s in4; */
    color: white;
    background-color: black;
    border: 3px solid white;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .connect-button:hover{
    transform: scale(1.1);
  }
  .check-text-container{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 60vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    width: 55vw;
}

.check-text{
    padding: 2vw;
    font-size: 40px;
    font-family: inherit;
    display: flex;
    align-items: center;
}


.instructions-img{
  height: 18px;
}

.instructions-btn{
  position: fixed;
  bottom: 20px;
  right: 30px;
  font-size: 20px;
  font-family: inherit, sans-serif;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: black;
}
.instructions-btn div{
  margin-left: 10px;
}


a{
  text-decoration: none;
}


.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin-left: 30px;
    filter: invert(1);
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  








.sign-message-container-box{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  flex-direction: column;
  position: absolute;
  top: 55vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  width: 35vw;
  height: 40vh;
  
  border-radius: 10px;
  border: 3px solid black;
}

.sign-in-terms-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}


.accept-terms .chakra-checkbox__label{
  font-size: 18px;
  font-weight: 600;
}

.sign-message-button{
  width: 210px;
  height: 60px !important;
  font-size: 18px !important;
  cursor: unset;
  pointer-events: none;
  border: 2px solid black;
  background-color: rgba(255, 255, 255, 0.559) !important;
  color: black;
}

.sign-message-button.active{
  cursor: pointer;
  pointer-events: all;
  background-color: white !important;
  color: black;
}


.sign-message-container-box .check-text{
  font-size: 28px;
  padding: 0;
}


.terms-and-conditions-link{
  text-decoration: underline;
}






.login-general-links{
  position: fixed;
  bottom: 5%;
  left: 50%;
  width: 25%;
  transform: translate(-50%, 0);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.login-general-links-line{
  height: 4px;
  width: 70px;
  border-radius: 10px;
  background-color: white;
}

.login-general-links a{
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-general-links-img{
  width: 35px;
  cursor: pointer;
}


.legal-btn {
  position: fixed;
  bottom: 20px;
  font-size: 20px;
  font-family: "Poppins";
  cursor: pointer;
  display: flex;
  align-items: center;
  color: black;
}

.legal-btn div {
  margin-left: 10px;
}

.legal-img {
  height: 18px;
  margin-left: 30px;
}



.legal-terms-link{
  text-decoration: underline;
}



  @media screen and (max-width: 1000px){
    .wagmi-title{
      width: 180px;
    }
    .header-title{
      font-size: 20px;
    }
    .connect-button{
      font-size: 14px;
    }
    .check-text{
      font-size: 36px;
    }
  }


  @media screen and (max-width: 750px){
    .wagmi-title{
      width: 160px;
    }
    .header-title{
      font-size: 18px;
    }
    .connect-button{
      font-size: 13px;
      padding: 8px;
    }
    .check-text{
      font-size: 32px;
    }
  }

  @media screen and (max-width: 650px){
    .wagmi-title{
      display: none;
    }
    .header-title{
      font-size: 18px;
    }
    .connect-button{
      font-size: 14px;
      padding: 8px;
    }
  }


  @media screen and (max-width: 500px){
    .header-title{
      font-size: 16px;
    }
    .connect-button{
      font-size: 13px;
      padding: 7px;
    }
  }

  @media screen and (max-width: 450px){
    .header-title{
      display: none;
    }
    .wagmi-title{
      display: inline;
    }
  }

  @media screen and (max-width: 450px){
    .connect-button{
      font-size: 12px;
      padding: 6px;
    }
  }



  




 