#page-token-detail #item-activity {
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid var(--light-gray);
    background-color: var(--secondary-color);
    font-size: 18px;
}

#page-token-detail #item-activity .space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#page-token-detail #item-activity .chakra-select__wrapper {
    width: 120px;
}

#page-token-detail #item-activity .chakra-select__wrapper select {
    color: var(--light-gray);
    border-radius: 5px;
}

#page-token-detail #item-activity .item-activity-title {
    margin: 0 -1rem 1rem -1rem;
    padding: 0 1rem 1rem 1rem;
    border-bottom: 1px solid var(--light-gray);
}

#page-token-detail #item-activity table {
    width: 100%;
}

#page-token-detail #item-activity th {
    text-align: left;
    font-weight: bold;
    border-bottom: 1px solid #333;
    padding-bottom: 5px;
}

#page-token-detail #item-activity tr:first-child td {
    padding-top: 10px;
}
#page-token-detail #item-activity tr td {
    padding: 5px 0;
}