.minting-image{
    width: 50px;
  height: 50px;
    border-radius: 10px;
}

.minting-container{
    width: 100%;
}

.minting-details tr th {
    display: table-cell;
    position: sticky;
    top: 0px;
    text-align: center;
    border-bottom: 2px solid rgb(44, 44, 58);
    background-color: #222840;
    padding: 20px 0;
    z-index: 1;
    color: white;
} 

.minting-name{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.minting-image{
    width: 50px;
    aspect-ratio: 1;
    border-radius: 10px;
}

.minting-floor-price, .minting-volume{
    display: flex;
    justify-content: center;
    align-items: center;
}
.minting-floor-price i, .minting-volume i{
    margin-right: 10px;
}

.minting-mint-price{
    display: flex;
    justify-content: center;
    align-items: center;
}
.minting-mint-price i{
    margin-right: 10px;
}

.minting-details tr th div{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.minting-details tr th div p{
    opacity: 0.5;
}
.minting-details tr th div i{
    margin-left: 10px;
}

.minting-details{
    position: relative;
}



.minting-name-date{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    padding: 30px 0;
    margin-left: 20px;
    text-align: left;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap

}

.minting-created-date{
    font-size: 12px;
    opacity: 0.8;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}