.item-banner-container{
    cursor: pointer;
    background-color: #d9d9d9;
    border-radius: 10px;
    text-align: center;
    color: black;
    height: 100%
}

.item-banner-btn{
    background-color: #474646;
    margin-top: 30px;
}

.item-banner-title{
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 40px;
    padding-top: 10px;
}

.item-banner-subtitle{
    font-size: 17px;
}

@media (max-width: 590px) {
    .item-banner-container{
        height: 447px;
        padding-top: 80px;
    }
}
