#page-bulk-listing {
  display: flex;
  padding-top: 50px;
  width: 90vw;
  gap: 100px;
  padding-bottom: 60px;
  margin: 0 auto;
  color: white;

  .section-left {
    width: 80%;
    .header {
      .title {
        .back-button {
          cursor: pointer;
          background-color: rgba(128, 128, 128, 0.107);
          border-radius: 50%;
          padding: 10px;
        }

        margin-bottom: 35px;
      }
    }

    table {
      margin-top: 35px;

      thead {
        tr {
          th {
            text-align: right;
            font-weight: 500;
            font-size: 18px;
            &:nth-child(1) {
              text-align: left;
            }
          }
        }
      }
      tbody {
        tr {
          td {
            text-align: right;
            &:nth-child(1) {
              text-align: left;
            }
            .token {
              max-width: 250px;
              display: flex;
              align-items: center;
              padding: 10px 0;
              img {
                width: 50px;
                aspect-ratio: 1;
                border-radius: 10px;
              }
            }
            .react-datepicker-wrapper {
              width: 10rem;
            }
          }
          .price-inputs,
          .marketplaces,
          .fees,
          .dates,
          .remove-marketplace {
            padding: 10px 0;
            display: flex;
            flex-direction: column;
            gap: 15px;
            align-items: end;
          }
          .remove-marketplace {
            align-items: center;
          }
        }
      }
    }
  }

  .section-right {
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
