.live-view-container{
    padding: 20px 60px;
    color: white;
    background-color: var(--grey-1);
    height: 200vh;
}
.live-view-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 60%;
}

.live-view-listings-container, .live-view-sales-container{
    background-color: #201f1e;
    border-radius: 10px;
}

.live-view-listing-items, .live-view-sale-items{
    height: 80vh;
    overflow: scroll;
    width: 25vw;
}

.live-view-listing-image, .live-view-sale-image{
    width: 45px;
    height: 45px;
    border-radius: 10px;
}

.live-view-single-listing-item, .live-view-single-sale-item{
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(117, 117, 117);
    /* gap: 20px; */
}

.live-view-buy{
    height: 30px !important;
}

.live-view-listing-container, .live-view-sale-container{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}




.live-view-listing-text, .live-view-sale-text{
    padding: 15px 20px;
    border-bottom: 1px solid rgb(117, 117, 117);
}


.live-view-listing-time, .live-view-sale-time{
    font-size: 13px;
    opacity: 0.8;
}


.live-view-sales-logos{
    display: flex;
    align-items: center;
    gap: 15px;
}
.live-view-sales-logos img{
    width: 22px;
    border-radius: 50%;
}


.animate{
    animation: glow 800ms;
}



@keyframes glow {
    0% {background-color: rgba(8, 8, 8, 0);}
    20% {background-color: rgba(8, 8, 8, 0.4);}
    40% {background-color: rgba(8, 8, 8, 0.8);}
    50% {background-color: rgba(8, 8, 8, 1);}
    60% {background-color: rgba(8, 8, 8, 0.8);}
    80% {background-color: rgba(8, 8, 8, 0.4);}
    100% {background-color: rgba(8, 8, 8, 0);}
}


.live-view-listing-marketplace{
    width: 20px;
}


.live-view-listing-marketplace-container{
    display: flex;
    align-items: center;
    gap: 10px;
}