.chart-box {
    background-color: var(--secondary-color);
    border-radius: 10px;
    min-height: 400px;
}

.chart-box, .leader-board {
    position: relative;
}

.chart-box .select-period, .leader-board .select-period {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 90px;
    z-index: 1;
    text-transform: uppercase;
}

.chart-box .select-period > [id^="react-select"], .leader-board .select-period > [id^="react-select"] {
    background-color: black;
}

.chart-box .select-period > div[class$="-control"], .leader-board .select-period > div[class$="-control"] {
    box-shadow: none;
    border-color: #ccc;
}

.overview .leader-board {
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 3rem;
}

.overview .leader-board-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.overview .leader-board .tabs {
    border: 1px solid var(--light-dark);
    padding: 3px;
    border-radius: 6px;
    margin-bottom: 0;
}

.overview .leader-board .tabs .btn {
    padding: 8px 0;
    font-size: 12px;
    width: 34px;
    text-align: center;
}

.overview .leader-board .tabs .btn:last-child {
    margin-right: 0;
}

.overview table {
    width: 100%;
}

.overview table .market-name img {
    margin-right: 0.7rem;
    width: 22px;
    vertical-align: text-bottom;
}

.overview th {
    text-align: left;
    padding: 0.5rem 0;
    border-bottom: 1px solid #666;
}

.overview td {
    padding: 0.7rem 0;
}