:root {
    --modal-width: 17%;
    --modal-height: calc(100% - 50px);
    --modal-lateral-padding: 20px;
}





.cart-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(2px);
    background-color: #11111166;
    z-index: 100000;
}

.cart-modal-overlay * {
    color: white;
}

.cart-modal {
    padding: 0 var(--modal-lateral-padding);
    height: var(--modal-height);
    border-radius: 15px;
    width: var(--modal-width);
    background-color: #1e1e1e;
    box-shadow: #000000e3 0px 0px 19px 5px;
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
    right: calc(var(--modal-width) * -1);
    transition: right 500ms ease;

}

.cart-modal i {
    cursor: pointer;
}

.active-cart-modal {
    right: 1vw;
}


.modal-cart-your-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2px solid red;
    font-size: 20px;
    height: 100%;
    width: 100%;
}


.cart-modal-header {
    height: 9%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.cart-hr {
    width: calc(100% + var(--modal-lateral-padding) * 2 - 3px);
}


.empty-cart-section {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.empty-cart-section p {
    color: rgb(170, 170, 170);
}

.cart-start-exploring-button {
    margin-top: 50px;
    cursor: pointer;
    width: 100%;
    height: 50px !important;
}




.item-clearall {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    margin-bottom: 5px;
}

.clear-all-cart {
    cursor: pointer;
    transition: color 100ms;
}

.clear-all-cart:hover {
    color: grey;
}

.user-cart-single-item {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin: 5px 0;
    padding: 7px 5px;

    transition: background 250ms;
}

.user-cart-single-item:hover {
    background-color: rgb(63, 63, 63);
}

.user-cart-item-image {
    width: 55px;
    height: 55px;
    border-radius: 10px;
    margin-right: 10px;
}


.user-cart-item-details-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    flex: 1 1 auto;
}

.cart-items-container {
    max-height: 70%;
    overflow: scroll;
}


.cart-items-clearall-container {
    height: calc(100% - 9%);
}


.user-cart-item-name {
    font-size: 15px;
}

.user-cart-collection-name {
    font-size: 13px;
    opacity: 0.8;
}


.user-cart-item-price-container {
    flex: 0 0 auto;
}

.user-cart-item-remove {
    font-size: 18px;
    margin-right: 10px;

    display: none;
}

.user-cart-single-item:hover .user-cart-item-remove {
    display: inline;
}

.user-cart-single-item:hover .user-cart-item-price {
    display: none;
}

.user-cart-item-price {
    font-size: 15px;
}



.cart-buy-now-hr {
    width: calc(100% + var(--modal-lateral-padding) * 2 - 3px);
}


.cart-total-buy-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-cart-total-price {
    padding: 20px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.user-cart-price-total-price,
.user-cart-price-currencies-eth {
    font-weight: 600;
    letter-spacing: 1.2px;
}

.user-cart-price-currencies {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.user-cart-price-currencies-usd {
    opacity: 0.8;
    font-size: 13px;
}


.user-cart-buy-button {
    width: 100%;
    letter-spacing: 1.2px;
}

.cart-notfound-img {
    width: 150px;
    height: 150px;
}