

.profile-activity-filters{
    margin: 0 auto;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.activity-filter-collection{
    width: 120px;
    margin-right: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.activity-type-filter{
    margin-right: 20px;
}

.activity-filter-collection, .activity-type-filter, .activity-date-filter{
    border-radius: 10px;
    color: white;
    padding: 9px 20px;
    background-color: #343434;
    border: 1px solid rgb(73, 71, 71);
    cursor: pointer;
}

.activity-filters{
    color: white;
    padding: 10px 0;
    font-family: inherit;
    display: flex;
    align-items: center;
}


.activity-container{
    color: white;
}
.single-activity-container td{
    text-align: center;
    background-color: #f0f8ff;
    color: black;
    padding: 10px;
}