#leaderboard {
  color: var(--text-color);
  padding: 1.5rem;
  margin-bottom: 2.5rem;

  .card-component {
    min-height: 400px;

    .spinner {
      margin: 5rem 0;
      width: 100px;
      height: 100px;
    }
  }

  .table-filters {
    display: flex;
    .sort-box {
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        white-space: nowrap;
        margin-right: 1rem;
      }

      .react-select {
        width: 280px;
      }

      #set-direction {
        width: 170px;
      }

      + .sort-box {
        margin-left: 2rem;
      }
    }
  }

  table {
    width: 100%;
    margin-top: 1rem;

    th {
      text-align: left;
      font-weight: bold;
      border-bottom: 1px solid #333;
      padding-bottom: 5px;
      font-size: 14px;
    }

    tr:first-child td {
      padding-top: 10px;
    }

    tr td:first-child,
    tr th:first-child {
      width: 30px;
    }

    tr td {
      padding: 5px 0;
    }
  }
}
