#leaderboard {
  color: var(--text-color);
  padding: 1.5rem;
  margin-bottom: 2.5rem;

  h2 {
    font-size: 30px;
    margin-left: 1rem;
  }

  .no-holders {
    margin-top: 3rem;
  }

  .card-component {
    min-height: 300px;
    border-radius: 10px;
    padding: 0 1rem;
    margin: 1rem 0;
    gap: 20px;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border: none;

    .spinner {
      margin: 5rem 0;
      width: 100px;
      height: 100px;
    }

    .loading-row > div {
      .flex {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      span {
        margin-right: 1rem;
      }

      .spinner {
        margin: 1rem 0;
        width: 20px;
        height: 20px;
      }
    }
  }

  .table-filters {
    display: flex;
    .sort-box {
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        white-space: nowrap;
        margin-right: 1rem;
      }

      .react-select {
        width: 280px;
      }

      #set-direction {
        width: 170px;
      }

      + .sort-box {
        margin-left: 2rem;
      }
    }
  }

  table {
    width: 100%;
    margin-top: 1rem;
    background-color: #222840;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-spacing: 0;
    border-collapse: collapse;
    border-radius: 10px;

    th {
      text-align: left;
      font-weight: bold;
      border-right-color: transparent;
      border-left-color: transparent;
      border-bottom: 2px solid #2c2c3a;
      font-size: 14px;
      padding: 1rem 0.5rem;
      text-align: center;
    }

    tr:first-child td {
      padding-top: 10px;
    }

    tr td:first-child,
    tr th:first-child {
      width: 50px;
      text-align: right;
    }

    tr:last-child {
      td {
        &:first-child {
          border-bottom-left-radius: 10px;
        }
        &:last-child {
          border-bottom-right-radius: 10px;
        }
      }
    }

    tr td {
      border: none;
      display: table-cell;
      padding: 0.8rem 0.5rem;
      background-color: #1e1f25;
      text-align: center;

      small {
        color: var(--light-gray);
      }
    }
    tr:nth-child(odd) td {
      background-color: #171719;
    }
  }
}
