#leaderboard {
  color: var(--text-color);
  padding: 1.5rem;
  margin-bottom: 2.5rem;

  .no-holders {
    margin-top: 3rem;
  }

  .card-component {
    min-height: 400px;

    .spinner {
      margin: 5rem 0;
      width: 100px;
      height: 100px;
    }
  }

  .table-filters {
    display: flex;
    .sort-box {
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        white-space: nowrap;
        margin-right: 1rem;
      }

      .react-select {
        width: 280px;
      }

      #set-direction {
        width: 170px;
      }

      + .sort-box {
        margin-left: 2rem;
      }
    }
  }

  table {
    width: 100%;
    margin-top: 1rem;
    background-color: #222840;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-spacing: 0;
    border-collapse: collapse;

    th {
      text-align: left;
      font-weight: bold;
      border-right-color: transparent;
      border-left-color: transparent;
      border-bottom: 2px solid #2c2c3a;
      font-size: 14px;
      padding: 0.5rem;
    }

    tr:first-child td {
      padding-top: 10px;
    }

    tr td:first-child,
    tr th:first-child {
      width: 30px;
    }

    tr td {
      border: none;
      display: table-cell;
      padding: 0.5rem;
      background-color: #1e1f25;
    }

    tr:nth-child(odd) td {
      background-color: #171719;
    }
  }
}
