.login-comparison-table {
  margin: 130px 0 60px 0;

  h1 {
    text-align: center;
    letter-spacing: 1.2px;
  }

  img {
    width: 60vw;
    display: block;
    margin: 80px auto 0 auto;
    border-radius: 10px;
  }
}
