#page-token-detail {
  .best-offer {
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid var(--light-gray);
    font-size: 18px;
    background-color: var(--secondary-color);

    p {
      margin: 0 -1rem 1rem -1rem;
      padding: 0 1rem 1rem 1rem;
      border-bottom: 1px solid var(--light-gray);
    }

    table {
      width: 100%;

      th {
        text-align: left;
      }
    }
  }
}
