.add-event-modal {
  .close-btn {
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
  }
  
  .title {
    font-size: 38px;
  }

  .body {
    font-size: 18px;
    font-weight: 400;
  }

  .field-container {
    padding: 10px 0px 10px 0px;
  }

  .button {
    font-size: 18px;
    padding: 25px 20px;
    border-radius: 9px;
  }
}
