.add-event {
  height: 35vh;
  max-width: unset !important;
  width: 30vw !important;
  border-radius: 14px !important;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly !important;

  .close-btn {
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
  }

  .modal-body {
    display: flex;
    align-items: center;
    flex: unset;
    letter-spacing: 1.2px;
    padding: 0;

    .title {
      font-size: 38px;
    }

    .body {
      font-size: 22px;
      font-weight: 400;
    }

    .field-container {
      padding: 10px 0px 10px 0px;
    }

    .button {
      font-size: 18px;
      padding: 25px 20px;
      border-radius: 9px;
    }
  }
}
