.orizontal-bar-chart {
    border-radius: 10px;
    overflow: hidden;
}

.orizontal-bar-chart .market-img {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    margin-top: -8px;
}

.orizontal-bar-chart .market-img img {
    margin-bottom: 3px;
}