#page-token-detail {
  .image-col {
    width: 40%;
    max-width: 500px;

    .item-image {
      width: 100%;
      height: auto;
      border-radius: 20px;
    }
  }

  .info {
    margin-top: 1rem;
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 1rem;

    .title {
      min-width: 200px;
      display: inline-block;
    }
  }

  .description {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--light-gray);

    .space-between {
      align-items: center;

      .refresh-btn {
        padding: 0.2rem 1rem;
        font-size: 12px;
        background-color: var(--light-dark);

        &:hover {
          background-color: var(--light-gray);
          color: var(--light-dark);
        }
      }

      padding-bottom: 0.5rem;
    }

    .title {
      display: block;
    }
  }
}
