#stats {
  margin-bottom: 3rem;
  .card-component {
    color: var(--text-color);
    min-height: 470px;

    > [data-highcharts-chart] {
      margin-top: 1rem;
    }

    .tabs {
      border: 1px solid var(--light-dark);
      padding: 3px;
      border-radius: 6px;
      margin-bottom: 0;
      .btn {
        padding: 8px 0;
        font-size: 12px;
        width: 34px;
        text-align: center;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  label {
    font-size: 12px;
  }
  input {
    color: var(--text-color);
    padding-left: 10px;
    padding-right: 10px;
  }

  .spinner {
    margin-top: 5rem;
    width: 100px;
    height: 100px;
  }

  .legend-row {
    max-width: 100px;
    width: 100px;
    display: block;
    text-overflow: ellipsis;
  }

  svg rect.highcharts-background {
    fill: var(--secondary-color);
  }
}
