#page-bots-wallets{

    $dominant-grey: #3d3d3d;

    margin: 20px 50px;

    .options{
        justify-content: space-between;


        .wallet{
            font-size: 22px;
            font-weight: 600;
            letter-spacing: 1.2px;
        }


        .actions{
            gap: 20px;
            justify-content: space-between;

            div{
                background-color: $dominant-grey;
                border: 1px solid black;
                padding: 7px 12px;
                border-radius: 9px;
                cursor: pointer;
                transition: background-color 0.3s;
            }

            div:hover{
                background-color: #222222;
            }
        }
    }

    hr{
        margin: 20px 0 0 0;
    }


    .wallets{
        width: 100%;

        .table{
            width: 100%;
            border-spacing: 0;

            thead th{
                margin: 0;
                padding: 20px 0;
                background-color: $dominant-grey;
            }

            thead th:first-child{
                border-top-left-radius: 5px;
            }

            thead th:last-child{
                border-top-right-radius: 5px;
            }
        }
    }


}


.add-wallet-modal{


    .add-button{
        cursor: not-allowed;
        opacity: 0.5;

        &.active{
            cursor: pointer;
            pointer-events: all;
            opacity: 1;
        }
    }

    .form{

        .options{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            cursor: pointer;
    
            p{
                opacity: 0.8;
                font-size: 20px;
                color: grey;
    
                transition: all 0.2s;
            }
    
            .active{
                opacity: 1;
                color: white;
    
                text-decoration: underline;
                text-decoration-thickness: 2px;
                text-underline-offset: 5px;
            }
        }


        .inputs{
            margin: 40px 0;
            display: flex;
            flex-direction: column;
            gap: 20px;

            p{
                margin-bottom: 5px;
            }
        }

        // .inputs{
        //     margin: 20px 0;
        //     display: flex;
        //     flex-direction: column;
        //     gap: 10px;

        //     label{
        //         font-size: 18px;
        //         font-weight: 600;
        //     }

        //     input{
        //         padding: 10px;
        //         border: 1px solid grey;
        //         border-radius: 5px;
        //         outline: none;
        //         transition: all 0.2s;
        //     }

        //     input:focus{
        //         border: 1px solid white;
        //     }
        // }
    }
}