#page-token-detail .image-col {
    width: 40%;
    max-width: 500px;
}

#page-token-detail .item-image {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

#page-token-detail .info {
    margin-top: 1rem;
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 1rem;
}

#page-token-detail .info .title {
    min-width: 200px;
    display: inline-block;
}

#page-token-detail .description {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--light-gray);
}