* {
  margin: 0px;
}

a {
  text-decoration: none;
}

body {
  height: 100%;
  overflow-x: hidden;
  background: linear-gradient(to right, #3494E6, #EC6EAD);
}

.button {
  color: white;
  font-size: 20px;
  background-color: black;
  padding: 10px;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  border: none;
  cursor: pointer;

  transition: all 150ms;

  border: 1px solid white;
}

.button:hover {
  color: black;
  background-color: white;
}

.legal-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  gap: 30px;

  flex-wrap: wrap;
}