.collection-activity-section {
  /* height: 100vh; */

  background-color: var(--grey-1);
  display: flex;
}

.collection-activity-table-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.collection-activity-table {
  /* background-color: grey; */
  border-collapse: collapse;
  width: 95%;
}

.collection-activity-table thead {
  border-bottom: 2px solid grey;
}

.collection-activity-table thead th {
  padding: 0 0 15px 0;
}

.collection-activity-hr {
  border: none;
  height: 1px;
  color: #333;
  background-color: rgb(81, 81, 81);
}

.collection-activity-single-container {
  display: table-row;
  vertical-align: inherit;
  cursor: pointer;
  transition: background-color 200ms;
}

.collection-activity-single-container:hover {
  background-color: #1d1d22;
  border-radius: 10px;
}

.collection-activity-filters-container {
  width: 16vw;
  height: calc(
    100vh - (var(--header-height) * 1px + var(--footer-height) * 1px)
  );
  overflow-y: scroll;
  border-right: 2px solid rgb(81, 81, 81);
  padding: 20px 20px;
  position: sticky;
  top: calc(1px * var(--header-height));
  color: white;
}

.collection-activity-filters-categories {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  font-size: 15px;
}

.collection-activity-filters-categories div {
  /* background-color: grey; */
  border: 1px solid grey;
  width: 40%;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;

  transition: all 200ms;
}

.collection-activity-filters-categories i {
  margin-right: 10px;
}

.collection-activity-filters-categories div:hover,
.collection-activity-filters-categories div.active {
  background-color: white;
  color: black;
}

.collection-activity-container {
  width: 84vw;
  color: white;
  padding-bottom: 2rem;
}

.collection-activity-single-token {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 15px;
  padding: 15px 0;
}

.collection-activity-single-image {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.collection-activity-single-price,
.collection-activity-single-type,
.collection-activity-single-from,
.collection-activity-single-to,
.collection-activity-single-time {
  text-align: center;
}

.collection-activity-single-type {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.collection-activity-single-time {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.collection-activity-tr-item {
  text-align: left;
}

.collection-activity-single-hr hr {
  border: none;
  height: 1px;
  color: #333;
  background-color: rgb(81, 81, 81);
}

.collection-activity-marketplace-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.collection-activity-marketplace-image {
  width: 25px;
  height: 25px;
}

.collection-activity-chart-container .tabs {
  border: 1px solid var(--light-dark);
  padding: 3px;
  border-radius: 6px;
  margin-bottom: 0;
}

.collection-activity-chart-container .tabs .btn {
  padding: 8px 0;
  font-size: 12px;
  width: 34px;
  text-align: center;
}

.chart-period-container {
  margin-top: 30px;
  width: 95%;
  display: flex;
  justify-content: right;
  align-items: center;
}

.collection-activity-chart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.activity-chart-wrapper {
  padding: 20px 0 40px 0;
  min-height: 400px;

  .spinner {
    margin: 5rem 0;
    width: 100px;
    height: 100px;
  }
}

.collection-activity-table tbody .loading {
  padding-bottom: 60px;
}

.collection-activity-time.link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #3a8cdf;
}
