#page-token-detail {
  margin-top: 2rem;
  padding-bottom: 3rem;

  .loading {
    margin: 0 auto;
  }

  .spinner {
    margin: 5rem 0;
    width: 100px;
    height: 100px;
  }

  .nft-container {
    display: flex;
  }

  .btn-list,
  .btn-transfer {
    margin-left: 1rem;
    padding: 0.5rem;
    background-color: var(--secondary-color);
    border: 1px solid var(--light-gray);
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    max-width: 500px;
    min-width: 100px;
    color: white;

    &:hover:not(:disabled) {
      background-color: black;
    }
  }
}
