#about-us {
  & .aboutUs {
    min-height: 100vh;
    color: white;
    padding-bottom: 40px;
  }

  .title {
    text-align: center;
    padding: 50px 0;
    font-size: 34px;
    letter-spacing: 1.2px;

    @media screen and (max-width: 1300px) {
      font-size: 30px;
    }

    @media screen and (max-width: 1000px) {
      font-size: 27px;
      padding: 40px 0;
    }

    @media screen and (max-width: 1000px) {
      font-size: 24px;
    }
  }

  .cardsContainer {
    display: flex;
    gap: 100px;
    justify-content: center;

    @media screen and (max-width: 1000px) {
      gap: 50px;
    }

    @media screen and (max-width: 1000px) {
      flex-wrap: wrap;
    }
  }

  .card {
    width: 300px;
    background-color: #0e0f0e;
    border: 1px solid white;
    padding: 20px 5px;
    border-radius: 20px;
    transition: all 350ms;

    @media screen and (max-width: 1300px) {
      width: 250px;

    }

    @media screen and (max-width: 1100px) {
      width: 220px;
    }
  }

  .card:hover {
    transform: translateY(-20px);
  }

  .teamImg {
    width: 100px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;

    @media screen and (max-width: 1300px) {
      width: 90px;
    }

    @media screen and (max-width: 1300px) {
      width: 70px;
    }
  }

  .cardName {
    text-align: center;
    letter-spacing: 3px;
    margin: 15px 0 10px 0;
    font-size: 19px;

    @media screen and (max-width: 1300px) {
      font-size: 16px;
    }

    @media screen and (max-width: 1000px) {
      font-size: 13px;
    }
  }

  .cardRole {
    text-align: center;
    margin-bottom: 15px;
    color: #1993eb;
    font-size: 14px;
    letter-spacing: 1.1px;

    @media screen and (max-width: 1300px) {
      font-size: 12px;
    }

    @media screen and (max-width: 1000px) {
      font-size: 10px;
    }
  }

  .cardDescription {
    text-align: center;
    margin: 0 15px;
    font-size: 14px;

    @media screen and (max-width: 1300px) {
      font-size: 10px;
    }

    @media screen and (max-width: 1000px) {
      font-size: 8px;
    }
  }

  .cardLinks {
    display: flex;
    justify-content: center;
  }

  .cardsSocialImages {
    width: 25px;
    margin: 25px 20px 0 20px;
    cursor: pointer;
    transition: scale 250ms;

    @media screen and (max-width: 1000px) {
      width: 20px;
      margin-top: 10px;
    }
  }

  .cardsSocialImages:hover {
    scale: 1.15;
  }

  .description {
    width: 90vw;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
    padding: 90px 0 60px 0;
  }

  .investors {
    width: 100vw;
    margin: 0 auto;
    margin-top: 100px;
  }

  .imgContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px;
    background-color: black;
  }

  .vcImg {
    height: 120px;
    cursor: pointer;

    @media screen and (max-width: 1300px) {
      height: 100px;
    }

    @media screen and (max-width: 1000px) {
      height: 70px;
    }

    @media screen and (max-width: 500px) {
      height: 50px;
    }

    @media screen and (max-width: 350px) {
      height: 37px;
    }
  }

  .entreprenistonImg {
    height: 120px;
    width: auto;
    margin-right: 30px;
    margin-left: 38px;
    cursor: pointer;

    @media screen and (max-width: 1300px) {
      height: 100px;
    }

    @media screen and (max-width: 1000px) {
      height: 70px;
    }

    @media screen and (max-width: 500px) {
      height: 50px;
    }

    @media screen and (max-width: 350px) {
      height: 45px;
    }
  }

  .luckyTraderImg {
    height: 120px;
    margin-left: 40px;
    cursor: pointer;
    margin-right: 15px;

    @media screen and (max-width: 1300px) {
      height: 100px;
    }

    @media screen and (max-width: 1000px) {
      height: 70px;
    }

    @media screen and (max-width: 500px) {
      height: 50px;
    }

    @media screen and (max-width: 350px) {
      height: 46px;
    }
  }

  .mikImg {
    height: 125px;
    margin-left: 40px;
    cursor: pointer;

    @media screen and (max-width: 1300px) {
      height: 103px;
    }

    @media screen and (max-width: 1000px) {
      height: 74px;
    }

    @media screen and (max-width: 500px) {
      height: 52px;
    }

    @media screen and (max-width: 350px) {
      height: 48px;
    }
  }

  // @media screen and (max-width: 1400px) {
  //   .cardsContainer {
  //     flex-wrap: wrap;
  //     gap: 140px 0;
  //     margin-top: 40px;
  //   }
  //   .card {
  //     margin: 0 70px;
  //   }
  //   .cardsContainer:last-child {
  //     margin-bottom: 100px;
  //   }
  // }

  // @media screen and (max-width: 1000px) {
  //   .title {
  //     font-size: 30px;
  //   }
  //   .vcImg {
  //     height: 95px;
  //   }
  //   .promotescaleImg {
  //     height: 85px;
  //   }
  //   .entreprenistonImg {
  //     height: 100px;
  //   }
  // }

  // @media screen and (max-width: 900px) {
  //   .vcImg {
  //     height: 80px;
  //   }
  //   .promotescaleImg {
  //     height: 75px;
  //   }
  //   .entreprenistonImg {
  //     height: 90px;
  //   }
  // }

  // @media screen and (max-width: 750px) {
  //   .vcImg {
  //     height: 70px;
  //   }
  //   .promotescaleImg {
  //     height: 65px;
  //   }
  //   .entreprenistonImg {
  //     height: 80px;
  //   }

  //   .imgContainer {
  //     padding: 0 40px;
  //   }
  // }

  // @media screen and (max-width: 659px) {
  //   .promotescaleImg {
  //     margin-top: 40px;
  //   }
  // }

  // @media screen and (max-width: 520px) {
  //   .card {
  //     margin: 0;
  //     width: 340px;
  //     height: 500px;
  //   }
  //   .cardDescription {
  //     max-width: 270px;
  //   }
  // }

  // @media screen and (max-width: 500px) {
  //   .card {
  //     margin: 0;
  //     width: 300px;
  //     height: 530px;
  //   }
  //   .cardDescription {
  //     max-width: 220px;
  //   }
  //   .title {
  //     font-size: 26px;
  //   }

  //   .imgContainer {
  //     padding: 20px;
  //   }
  //   .vcImg {
  //     height: 60px;
  //   }
  //   .promotescaleImg {
  //     height: 55px;
  //   }
  //   .entreprenistonImg {
  //     height: 70px;
  //   }
  // }

  // @media screen and (max-width: 344px) {
  //   .entreprenistonImg {
  //     margin-top: 40px;
  //   }
  // }

  // @media screen and (max-width: 400px) {
  //   .card {
  //     margin: 0;
  //     width: 250px;
  //     height: 450px;
  //   }
  //   .teamImg {
  //     width: 120px;
  //   }
  //   .cardName {
  //     font-size: 20px;
  //   }
  //   .cardRole {
  //     font-size: 14px;
  //   }
  //   .cardDescription {
  //     font-size: 14px;
  //     max-width: 200px;
  //   }
  // }

  // @media screen and (max-width: 320px) {
  //   .vcImg {
  //     height: 55px;
  //   }
  //   .promotescaleImg {
  //     height: 50px;
  //   }
  //   .entreprenistonImg {
  //     height: 65px;
  //   }
  // }

  // @media screen and (min-width: 1600px) {
  //   .title,
  //   .partnerTitle {
  //     font-size: 38px;
  //   }
  //   .card {
  //     width: 410px;
  //     height: 520px;
  //   }
  //   .cardName {
  //     font-size: 28px;
  //   }
  //   .cardRole {
  //     font-size: 18px;
  //   }
  //   .cardDescription {
  //     font-size: 18px;
  //   }
  // }

  // @media screen and (min-width: 1800px) {
  //   .title,
  //   .partnerTitle {
  //     font-size: 40px;
  //   }
  //   .card {
  //     width: 430px;
  //     height: 550px;
  //   }
  //   .cardName {
  //     font-size: 30px;
  //   }
  //   .cardRole {
  //     font-size: 20px;
  //   }
  //   .cardDescription {
  //     font-size: 20px;
  //   }
  // }
}