.gas-modal-container {
  bottom: 40px;
  opacity: 0;
  width: 150px;
  padding: 10px 15px;
  height: 190px;
  border-radius: 5px;
  background-color: #1e1e1e;
  box-shadow: #000000e3 0px 0px 19px 5px;
  position: absolute;
  color: white;
  transition: opacity 250ms;

  display: flex;
  flex-direction: column;
}

.gas-modal-container.visible {
  opacity: 1;
}

.gas-modal-container.extend {
  height: 360px;
}

.gas-modal-title {
  font-size: 14px;
  color: rgb(220, 220, 220);
  letter-spacing: 1.3px;
  font-weight: 600;
  margin-bottom: 5px;
}

.gas-modal-presets-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
}

.gas-modal-single-preset {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  padding: 7px 10px;
  border-radius: 10px;
  transition: background-color 150ms;
}

.gas-modal-single-preset:hover {
  background-color: #2e2e2e;
}
.gas-modal-single-preset.active {
  background-color: #525252;
}

.gas-modal-custom-extend {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gas-modal-custom-extend p {
  font-size: 12px;
  margin-bottom: 5px;
}

.gas-modal-custom-extend input {
  height: 25px;
}

.gas-modal-hr {
  background-color: #eee;
  border: 0 none;
  color: #eee;
  height: 2px;
  border-radius: 10px;
}

.gas-modal-save-button {
  width: 100%;
}
