.plans-section {
  padding: 10px 0;
  scroll-margin-top: 80px;
  margin-bottom: 110px;
  .header {
    position: relative;
    .title {
      text-align: center;
      padding: 40px 0;
      font-size: 34px;

      @media screen and (max-width: 500px) {
        font-size: 30px;
      }
    }
    .plan-selector {
      position: absolute;
      top: 50%;
      left: 80%;
      transform: translate(-80%, -50%);

      @media screen and (max-width: 650px) {
        left: 90%;
        width: 110px;
        font-size: 14px;
      }
    }
  }
  .plans {
    padding: 0 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    @media screen and (max-width: 850px) {
      gap: 50px 0;
    }

    .plan-container {
      height: 25rem;
      width: 15rem;
      background-color: #0e0f0e;
      box-shadow: 0px 0px 8px 5px black;
      margin-top: 15px;
      transition: margin-top 0.3s ease-in-out;
      border-radius: 15px;
      padding: 0 30px;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @media screen and (max-width: 1100px) {
        width: 12rem;
        // height: 30rem;
      }
      @media screen and (max-width: 950px) {
        width: 12rem;
        height: 25rem;
        padding: 0 15px;
      }

      @media screen and (max-width: 850px) {
        margin-left: 50px;
        margin-right: 50px;
        width: 15rem;
      }

      &:nth-child(2) {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #d3d3d3 74%);
        color: black;
      }
      &:last-child {
        box-shadow: 0px 0px 13px 8px black;
        background-color: unset;
        background: radial-gradient(
            ellipse farthest-corner at right bottom,
            #fedb37 0%,
            #fdb931 8%,
            #9f7928 30%,
            #8a6e2f 40%,
            transparent 80%
          ),
          radial-gradient(
            ellipse farthest-corner at left top,
            #cdc549 0%,
            #bfbf63 8%,
            #d1b464 25%,
            #5d4a1f 62.5%,
            #5d4a1f 100%
          );
      }

      &:hover {
        margin-top: 0;
      }

      .plan-header {
        .title {
          text-align: center;
          padding: 10px 0;
          padding-top: 20px;
          letter-spacing: 1.2px;
          font-size: 28px;

          @media screen and (max-width: 1100px) {
            font-size: 22px;
          }
          @media screen and (max-width: 950px) {
            font-size: 20px;
          }
        }
        .price {
          text-align: center;
          padding: 10px 0;
          letter-spacing: 1.2px;
          font-size: 22px;
          font-weight: 600;
          @media screen and (max-width: 1100px) {
            font-size: 20px;
          }
          @media screen and (max-width: 950px) {
            font-size: 18px;
          }
        }

        border-bottom: 1px solid white;
      }

      .plan-body {
        padding: 20px 0;
        text-align: center;
      }
      .plan-footer {
        padding: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;

        button {
          font-size: 18px;
        }
      }
    }
  }

  &.plans-route {
    .header {
      .title {
        color: white;
      }
    }
    .plan-container {
      box-shadow: 0px 0px 9px 3px black;
      &:nth-child(1) {
        color: white;
        background-color: black;
      }
      &:nth-child(2) {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #d3d3d3 74%);
        color: black;
      }
    }
  }
}
