:root{
    --header-height: 72;
    --footer-height: 40;
    --grey-1: #0e0f0e;
    --light-dark: #1E1F25;
    --text-color: white;
    --light-gray: #CCC;
    --secondary-color: #2E2E30;
}


*{
    margin: 0;
    font-family: "poppins";
}

button{
	border: none;
	padding: 0;
	cursor: pointer;
    letter-spacing: 1px;
}
body{
    background-color: #0E0F0E;
    font-family: "poppins";
}
body.overflow-hidden{
    overflow: hidden;
}
::-webkit-scrollbar{
    width: 0;
}
.eth-char-logo{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.highcharts-credits{
    display: none;
}



.flex-col-left{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.flex-15{
    display: flex;
    align-items: center;
    gap: 15px;
}

.flex-normal{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.little-text{
    font-size: 13px;
}
.low-opacity{
    opacity: 0.8;
}