:root {
  --header-height: 72;
  --footer-height: 40;
  --grey-1: #0e0f0e;
  --light-dark: #1e1f25;
  --text-color: white;
  --light-gray: #ccc;
  --secondary-color: #2e2e30;
}

* {
  margin: 0;
  font-family: "poppins";
}

button {
  border: none;
  padding: 0;
  cursor: pointer;
  letter-spacing: 1px;
}

body {
  background-color: #0e0f0e;
  font-family: "poppins";
}

body.overflow-hidden {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0;
}

.eth-char-logo {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.highcharts-credits {
  display: none;
}

.flex-col-left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.flex-15 {
  display: flex;
  align-items: center;
  gap: 15px;
}

.flex-normal {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.little-text {
  font-size: 13px;
}

.low-opacity {
  opacity: 0.8;
}

.wrap-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.big-text {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.mr-10 {
  margin-right: 10px;
}

.not-responsive {
  display: none;
}
@media screen and (max-width: 1000px) {
  #application-wrapper {
    /* display: none; */
  }

  .not-responsive {
    color: white;
    display: flex;
    width: 80vw;
    margin: 0 auto;
    height: 100vh;
    font-size: 25px;
    align-items: center;
    justify-content: center;
  }

  .not-responsive p {
    text-align: center;
  }
}



.not-allowed {
  cursor: not-allowed;
}


.flex-col {
  display: flex;
  flex-direction: column;

}