#page-pnl {
  .recap-card {
    .row + .row {
      margin-top: 1.5rem;
    }

    h3 {
      font-size: 22px;
    }

    p {
      font-size: 20px;
    }
  }

  .settings {
    padding-top: 1rem;

    .btn-settings {
      padding: 0.6rem 1.5rem;
      width: 200px;

      i {
        margin-left: 0.5rem;
      }

      + .btn-settings {
        margin-left: 1rem;
      }
    }

    .timeframe {
      margin: 2rem 0 0.5rem;
    }
  }

  .pagination {
    display: flex;
    align-items: center;

    .default-btn {
      margin-left: 1rem;
      min-width: 10px;
    }
  }

  table {
    th {
      text-align: left;
      font-weight: bold;
      border-bottom: 1px solid var(--light-gray);
      padding: 0.5rem 0;
    }

    td {
      padding: 0.3rem 0;
    }

    .mint-label {
      background: black;
      border-radius: 5px;
      text-align: center;
    }

    .nft-info-box {
      box-sizing: border-box;
      display: flex;
      align-items: center;
      cursor: pointer;
      min-height: 70px;

      .nft-text {
        font-size: 12px;
        margin-left: 1rem;
      }

      .nft-img {
        border-radius: 5px;
      }
    }

    .td-paid a,
    .td-sold a {
      cursor: pointer;
    }
  }
}
